.about-us{
  position: relative;
  display: flex;
  padding-top: 84px;
  padding-bottom: 84px;
  background: #E5E5E5;
  font-family: Open Sans;
  font-style: normal;
  h3{
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 80px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
    &::before{
      content:"";
      position: absolute;
      left: 0;
      top: 50%;
      width: 60px;
      height: 1px;
      background: #303030;
    }
  }
  h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #303030;
  }
  b{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.02em;
    color: #555555;
  }
  p{
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
  }
  a{
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #303030;
    border: 1px solid #FF6C00;
    box-sizing: border-box;
    border-radius: 25px;
    &:hover{
      color: #FFFFFF;
      background: #FF6C00;
    }
    &:focus{
      color: #FFFFFF;
      background: #FF6C00;
    }
  }
}
.photo-style{
  margin-right: 30px;
@media screen and (max-width: 767px) {
  display: none}
@media screen and (min-width: 768px) {
  width: 50%;}
@media screen and (min-width: 1200px) {
  display: flex;
  justify-content: flex-end;
  margin-right: 64px
}
  .first-img{
    @media screen and (min-width: 768px) {
      float: right}
    
    @media screen and (max-width: 1200px) {
      margin-bottom: 30px}
    
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      }
  }
  .second-img{
    @media screen and (min-width: 768px) {
      float: right}
  }
}
.about-text{
  @media screen and (min-width: 768px) {
   max-width: 500px;
  width: 50%}
}