<section class="about-us container">
<div class="photo-style">
        <picture>
        <source
          srcset="
          ./images/about-us/beard330T.webp,
          ./images/about-us/beard660T@2x.webp 2x,
          ./images/about-us/beard990T@3x.webp 3x"
          media="(min-width: 768px) and (max-width: 1279px)"
          type="image/webp"
        />
        <source
          srcset="
          ./images/about-us/beard270N.webp,
          ./images/about-us/beard540N@2x.webp 2x,
          ./images/about-us/beard810N@3x.webp 3x"
          media="(min-width: 1280px)"
          type="image/webp"
        /> 
        <img 
          class="first-img"
          src="./images/about-us/beard330T.jpg"
          alt="Бритье"
        />
      </picture>
      <picture>
        <source
          srcset="
          ./images/about-us/hair330T.webp,
          ./images/about-us/hair660T@2x.webp 2x,
          ./images/about-us/hair990T@3x.webp 3x"
          media="(min-width: 768px) and (max-width: 1279px)"
          type="image/webp"
        />
        <source
          srcset="
          ./images/about-us/hair270N.webp,
          ./images/about-us/hair540N@2x.webp 2x,
          ./images/about-us/hair810N@3x.webp 3x"
          media="(min-width: 1280px)"
          type="image/webp"
        /> 
        <img class="first-img"
          src="./images/about-us/hair330T.jpg"
          alt="Стрижка"
        />
      </picture>
</div>
<div class="about-text">
     <h3>О НАС</h3>
    <h2>Лучший Барбершоп <br>
        твоего города</h2>
        <b >Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.</b>
        <p>Мы команда, которая никогда не останавливается на достигнутом 
           и жаждет перемен. И когда ты попадешь в руки нашего мастера, 
           то уже никогда не сможешь быть прежним. Мы команда, которая 
           всегда с клиентами "на одной волне". Поэтому, мы всегда готовы 
           усовершенствовать каждого, кто к нам приходит!</p>
           <a href="">онлайн-запись</a>
        </div>
</section>
