
    <section class="container ourmasters">
      
      <h3 class="line-befor">для настоящих ценителей атмосферы</h3>
      <h2 class="name-masters">Наши мастера</h2>
      <ul class="standart-ul masters-list">
        <li class="masters-item">
          <img srcset="
          ./images/ourmasters/img1.jpg x,
          ./images/ourmasters/imgx2.jpg 2x
          ./images/ourmasters/imgx3.jpg 3x"
          src="./images/ourmasters/img1.jpg" alt="John Smith" />
        
          <h3 class="name">John Smith</h3>
          <p class="prof">Extreme Barber</p>
          <ul class="standart-ul socset-list">
            <li>
              <a href="" aria-label="Ссылка на instagram" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на twitter" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на linkedin" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на facebook" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="masters-item">
          <img srcset="
          ./images/ourmasters/img2.jpg x,
          ./images/ourmasters/img2x2.jpg 2x
          ./images/ourmasters/img2x3.jpg 3x"
          src="./images/ourmasters/img2.jpg" alt="Michele Doe" />
          <h3 class="name">Michele Doe</h3>
          <p class="prof">Extreme Barber</p>
          <ul class="standart-ul socset-list">
            <li>
              <a href="" aria-label="Ссылка на instagram" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на twitter" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на linkedin" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на facebook" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="masters-item">
          <img srcset="
          ./images/ourmasters/img3.jpg x,
          ./images/ourmasters/img3x2.jpg 2x
          ./images/ourmasters/img3x3.jpg 3x"
          src="./images/ourmasters/img3.jpg" alt="Alan Black" />
          <h3 class="name">Alan Black</h3>
          <p class="prof">Extreme Barber</p>
          <ul class="standart-ul socset-list">
            <li>
              <a href="" aria-label="Ссылка на instagram" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на twitter" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на linkedin" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на facebook" class="bcg">
                <svg class="icon">
                  <use href="./images/ourmasters/symbol-defs.svg#icon-facebook-1"></use>
                </svg>
              </a>
        </li>
      </ul>
    </section>

 