
    <section>
      <p>для настоящих ценителей атмосферы</p>
      <h2>Наши мастера</h2>
      <ul>
        <li>
          <img src="./images/img1.jpg" alt="John Smith" />
          <h3>John Smith</h3>
          <p>Extreme Barber</p>
          <ul>
            <li>
              <a href="" aria-label="Ссылка на instagram">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на twitter">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на linkedin">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на facebook">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <img src="./images/img2.jpg" alt="Michele Doe" />
          <h3>Michele Doe</h3>
          <p>Extreme Barber</p>
          <ul>
            <li>
              <a href="" aria-label="Ссылка на instagram">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на twitter">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на linkedin">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на facebook">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <img src="./images/img3.jpg" alt="Alan Black" />
          <h3>Alan Black</h3>
          <p>Extreme Barber</p>
          <ul>
            <li>
              <a href="" aria-label="Ссылка на instagram">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на twitter">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на linkedin">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" aria-label="Ссылка на facebook">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                </svg>
              </a>
        </li>
      </ul>
    </section>

 