    <section class="container content-section">
        
            <div class="photo">
                <p class="paragraph">на латинском языке “барба” означает “борода”</p>
            </div>
            <ul class="photo-content standart-ul">
                <li class="photo-content-item">
                    <img class="content-img" 
                        srcset="./images/photo-content-img/hair-cut-270.jpg 270w,
                        ./images/photo-content-img/hair-cut-450@2x.jpg 540w,
                        ./images/photo-content-img/hair-cut-810@3x.jpg 810w" 
                        src="./images/photo-content-img/hair-cut-270.jpg" alt="hair-cut"
                        sizes="100vw, (min-width: 481px) 418px, (min-width: 769px) 330px, (min-width: 1200px) 270px"
                        >
                </li>
                <li class="photo-content-item">
                    <img class="content-img" 
                        srcset="
                        ./images/photo-content-img/beard-shaving-270.jpg 270w,
                        ./images/photo-content-img/beard-shaving-540@2x.jpg 540w,
                        ./images/photo-content-img/beard-shaving-810@3x.jpg 810w" 
                        src="./images/photo-content-img/beard-shaving-270.jpg" alt="beard-shaving"
                        sizes="100vw, (min-width: 481px) 418px, (min-width: 769px) 330px, (min-width: 1201px) 270px"
                        >
                </li>
                <li class="photo-content-item">
                    <img class="content-img" 
                    srcset="
                    ./images/photo-content-img/hot-towel-270.jpg 270w,
                    
                    ./images/photo-content-img/hot-towel-810@3x.jpg 810w" 
                        src="./images/photo-content-img/hot-towel-270.jpg" alt="hot-towel"
                        sizes="100vw, (min-width: 481px) 418px, (min-width: 769px) 330px, (min-width: 1201px) 270px"
                        >

                    <!-- ./images/photo-content-img/hot-towel@2.jpg 2x, -->
                    <!-- ./images/photo-content-img/hot-towel-540@2.jpg 540w, -->
                </li>
                <li class="photo-content-item">
                    <img class="content-img" 
                        srcset="
                        ./images/photo-content-img/head-shaving-270.jpg 270w,
                        ./images/photo-content-img/head-shaving-540@2x.jpg 540w,
                        ./images/photo-content-img/head-shaving-810@3x.jpg 810w" 
                        src="./images/photo-content-img/head-shaving-270.jpg" alt="head-shaving"
                        sizes="100vw, (min-width: 481px) 418px, (min-width: 769px) 330px, (min-width: 1201px) 270px"
                        >
                </li>
            </ul>
        
    </section>
