<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../sass/main.css">
    <title>Document</title>
</head>
<body> -->
    <section>
        <div class="container">
            <div class="photo">
                <p class="paragraph">на латинском языке “барба” означает “борода”</p>
            </div>
            <ul class="photo-content standart-ul">
                <li class="photo-content-item">
                    <img class="content-img" srcset="/src/images/hair-cut.jpg 1x, /src/images/hair-cut@2x.jpg 2x, /src/images/hair-cut@3x.jpg 3x" src="/src/images/hair-cut.jpg" alt="hair-cut">
                </li>
                <li class="photo-content-item">
                    <img class="content-img" srcset="/src/images/beard-shaving.jpg 1x, /src/images/beard-shaving@2x.jpg 2x, /src/images/beard-shaving@3x.jpg 3x" src="/src/images/beard-shaving.jpg" alt="">
                </li>
                <li class="photo-content-item">
                    <img class="content-img" srcset="/src/images/hot-towel.jpg 1x, /src/images/hot-towel@2x.jpg 2x, /src/images/hot-towel@3x.jpg 3x" src="/src/images/hot-towel.jpg" alt="">
                </li>
                <li class="photo-content-item">
                    <img class="content-img" srcset="/src/images/head-shaving.jpg 1x, /src/images/head-shaving@2x.jpg 2x, /src/images/head-shaving@3x.jpg 3x" src="/src/images/head-shaving.jpg" alt="">
                </li>
            </ul>
        </div>
    </section>
<!-- </body>
</html> -->