    <section>
        <div class="container">
            <div class="photo">
                <p class="paragraph">на латинском языке “барба” означает “борода”</p>
            </div>
            <ul class="photo-content standart-ul">
                <li class="photo-content-item">
                    <img class="content-img" srcset="./images/photo-content-img/hair-cut.jpg 1x, ./images/photo-content-img/hair-cut@2x.jpg 2x, ./images/photo-content-img/hair-cut@3x.jpg 3x" src="./images/photo-content-img/hair-cut.jpg" alt="hair-cut">
                </li>
                <li class="photo-content-item">
                    <img class="content-img" srcset="./images/photo-content-img/beard-shaving.jpg 1x, ./images/photo-content-img/beard-shaving@2x.jpg 2x, ./images/photo-content-img/beard-shaving@3x.jpg 3x" src="./images/photo-content-img/beard-shaving.jpg" alt="">
                </li>
                <li class="photo-content-item">
                    <img class="content-img" srcset="./images/photo-content-img/hot-towel.jpg 1x, ./images/photo-content-img/hot-towel@2x.jpg 2x, ./images/photo-content-img/hot-towel@3x.jpg 3x" src="./images/photo-content-img/hot-towel.jpg" alt="">
                </li>
                <li class="photo-content-item">
                    <img class="content-img" srcset="./images/photo-content-img/head-shaving.jpg 1x, ./images/photo-content-img/head-shaving@2x.jpg 2x, ./images/photo-content-img/head-shaving@3x.jpg 3x" src="./images/photo-content-img/head-shaving.jpg" alt="">
                </li>
            </ul>
        </div>
    </section>