<div class="backdrop pop-up">
    <div class="modal-pop">
        <p class="modal-text">спасибо, что пользуетесь нашими услугами!</p>
            <div class="submit-btn">
                <button type="submit" class="send-btn">нема за шо!</button>
            </div>
            <button class="modal-button close">
                <svg class="close-btn" width="25" height="25">
                    <use href="./images/modal-img/close-modal.svg#iconclose-btn"></use>
                </svg>
            </button>
        </form>
    </div>
</div>