<section class="default-section-service">
    <div class="container section-service-price">
        <p class="description">
            Проведи время в компании лучших мастеров
        </p>
        <h2 class="definition">Услуги и цены</h2>
        <div class="table-service">
            <ul class="scroll first">
                <li class="scroll-item">
                    <p class="service">Мужская стрижка</p>
                    <div class="scroll-border"></div>
                    <p class="price">от 300 грн.</p>
                </li>
                <li class="scroll-item">
                    <p class="service">Стрижка бороды</p>
                    <div class="scroll-border"></div>
                    <p class="price">от 200 грн.</p>
                </li>
                <li class="scroll-item">
                    <p class="service">Стрижка усов</p>
                    <div class="scroll-border"></div>
                    <p class="price">от 200 грн.</p>
                </li>
                <li class="scroll-item">
                    <p class="service">Бритье опасной бритвой</p>
                    <div class="scroll-border"></div>
                    <p class="price">от 200 грн.</p>
                </li>
            </ul>
            <ul class="scroll second">
                <li class="scroll-item">
                    <p class="service">Cтрижка у стажера</p>
                    <div class="scroll-border"></div>
                    <p class="price">от 50 грн.</p>
                </li>
                <li class="scroll-item">
                    <p class="service">Стрижка под насадку</p>
                    <div class="scroll-border"></div>
                    <p class="price">от 200 грн.</p>
                </li>
                <li class="scroll-item">
                    <p class="service">Детская стрижка (до 12 лет)</p>
                    <div class="scroll-border"></div>
                    <p class="price">от 300 грн.</p>
                </li>
                <li class="scroll-item">
                    <p class="service">Камуфлирование седины</p>
                    <div class="scroll-border"></div>
                    <p class="price">от 200 грн.</p>
                </li>
            </ul>
        </div>
        <a href="#subscribe" class="online-record">онлайн-запись</a>
    </div>
</section>