// .hero {

// }

.overlay {
  @media screen and (max-width: $tablets - 1) {
    max-width: 480px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/header/hiro-mob.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/header/hiro-mob@2x.jpg');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/header/hiro-mob@3x.jpg');
    }
  }
  @media screen and (min-width: $tablets) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;

    background: url('../images/header/hiro-tab.jpg'),
      linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));

    height: 680px;
    background-size: 609px 680px;

    background-position: right;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/header/hiro-tab@2x.jpg');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/header/hiro-tab@3x.jpg');
    }
  }
}

.slider-current {
  @media screen and (max-width: $tablets - 1) {
    display: none;
  }
  fill: $primary-white-color;
  margin-bottom: 12px;
}
.slider-next {
  fill: $additional-color-text;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  @media screen and (max-width: $tablets - 1) {
    display: none;
  }
}

.title-p {
  color: $color-rgba;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 20px;
}

.hero-title {
  color: $primary-white-color;

  font-family: Raleway;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  margin-top: 0;
  margin-bottom: 20px;
}
.hero-paragraph {
  color: $additional-color-text;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  margin: 0;
}

.container-title {
  @media screen and (max-width: $tablets - 1) {
    padding-top: 113px;
    max-width: 306px;
  }
  @media screen and (min-width: $tablets) {
    width: 450px;
    display: inline-flex;
    align-items: center;
  }
}
.hero {
  & .container {
    @media screen and (min-width: $tablets) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.slider-container {
  display: inline-flex;
  flex-direction: column;
  margin-left: 77px;
  align-items: flex-end;
}
.heading-container {
  @media screen and (min-width: $tablets) {
    // margin-right: 77px;
  }
}
.controls {
  @media screen and (max-width: $tablets - 1) {
    display: none;
  }
  display: flex;
  align-content: flex-end;

  justify-content: flex-end;
}
.prev {
  display: flex;
  padding: 0;
  min-width: 60px;
  height: 24px;
  background-color: transparent;

  color: $color-rgba;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  margin-right: 26px;
  border: none;
  border-bottom: 1px solid $color-rgba;
  outline: none;
  transition: $transition;

  &:hover,
  &:focus {
    color: $primary-white-color;
    border-color: $primary-white-color;
  }
}

.next {
  display: flex;
  justify-content: flex-end;

  padding: 0;
  min-width: 60px;
  height: 24px;
  background-color: transparent;

  color: $color-rgba;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  border: none;
  border-bottom: 1px solid $color-rgba;
  transition: $transition;

  &:hover,
  &:focus {
    color: $primary-white-color;
    border-color: $primary-white-color;
  }
}

// .hero {
//   @media screen and (max-width: $tablets - 1) {
//     // margin-top: 95px;
//   }

//   // &-title {
//   //   margin-top: 0;
//   //   margin-bottom: 30px;
//   //   max-width: 360px;
//   //   margin-left: auto;
//   //   margin-right: auto;

//   //   color: $primary-white-color;
//   //   font-weight: 900;
//   //   font-size: 26px;
//   //   line-height: 1.6;
//   //   letter-spacing: 0.06em;
//   //   text-transform: uppercase;

//   //   @media screen and (min-width: $desktop) {
//   //     max-width: 696px;
//   //     font-size: 44px;
//   //     line-height: 1.36;
//   //   }
//   // }
// }
